<header class="main-header">
  <div class="header-content">
    <div class="header-logo">
      <a href="/"> <img src="/img/logo-dulcefina.png" alt="Dulcefina Logo" class="logo-image">
      </a>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/about">Acerca de</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/cart">Carrito</a></li>
      </ul>
    </nav>
  </div>
</header>